<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="large">
      Bienvenido {{ user }}
    </ion-title>
   
    <!-- <ion-button slot="end" >
      Cerrar Sesión
    </ion-button> -->
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header >
      <ion-button color="primary" (click)="generarQR()" shape="round"
      expand="full"
      size="medium"
      fill="outline">
        Generar Código QR
      </ion-button>
    </ion-card-header>
    <ion-card-content style="text-align:center;">      
      <ngx-qrcode 
      [elementType]="elementType" 
      [value]="value"
      errorCorrectionLevel="L"
      cssClass="aclass">
      </ngx-qrcode>
    </ion-card-content>
  </ion-card>
</ion-content>
